{% extends 'layouts/base.html' %} 
{% block title %} Edit Post {% endblock %} 

{% block content %}
<br>
  <h2> Edit Post </h2>
  <br>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" name='title' class="form-control" value="{{post.title}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" name='image' class="form-control" value="{{post.image}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Body</label>
      <textarea type="text" name='body' class="form-control">{{post.body}}</textarea>
    </div>
    <div class="mb-3">
      <select class="form-select" name="category_id" aria-label="Default select example">
        <option selected disabled value="">Open this select menu</option>
        {% for category in categories %}
        {% if post.category_id == category.id %} 
          <option value='{{category.id}}' selected>{{category.title}}</option>
        {% else %}
          <option value='{{category.id}}'>{{category.title}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <center><button type="submit" class="btn btn-primary w-25">Save Changes</button></center>
  </form>
{% endblock %}
